[Desktop Entry]
Name=Flashlapse Update
Comment=Updates Flashlapse
Icon=/home/pi/Documents/Flashlapse_RELEASE/_image/update.ico
Exec=sh /home/pi/Documents/Flashlapse_RELEASE/update.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;